include /_mixins

+menu('Tech Sessions')


//- .conteudo

.slide.s-default.s-var-3.pad
  .pure-g
    .pure-u-1
      h1 Tech Sessions
      ul.sub-menu
        li.nav-atual #[a Oral sessions]
        li #[a(href="instructions.html") Instructions for authors]

      //- monta a lista de anterior / próximo
      -
        var prev = "";
        var trab_array = {};

        Object.keys(oral_sessions_timetable).forEach(function(element) {
          var aux = {"prev":"", "next":""};
          if (prev != "") { // não é a primeira vez
            trab_array[prev].next = element;
            aux.prev = prev;
          }
          trab_array[element] = aux;
          prev = element;
        });

      //- each i in trab_array
        //- p= JSON.stringify(i)

      .c-trabalhos.c-oral-sessions
        - var i = 1;
        each sessoes, i_data in oral_sessions
          .trab-dia
            p.trab-data= i_data
            each sessao, i_sessao in sessoes
              .sessao
                a.trab-codigo.codigo-sessao(name="#{i_sessao}")
                .header-sessao
                  p.trab-cod-sessao.forte= i_sessao
                  h3.trab-topico-sessao= sessao.nome
                  p.trab-horario-sessao #{sessao.horario} / #{sessao.sala}
                each cod_trabalho in sessao.trabalhos
                  - var trabalho = trabalhos[cod_trabalho]
                  a.trab-codigo(name="#{cod_trabalho}")
                  .trabalho
                    +oral_session(
                      i, 
                      cod_trabalho, 
                      trabalho.titulo, 
                      trabalho.resumo, 
                      trabalho.author_list, 
                      oral_sessions_timetable[cod_trabalho],
                      trab_array[cod_trabalho].prev,
                      trab_array[cod_trabalho].next
                    )
                    - i++;



+rodape('Tech Sessions')