include /_mixins

+menu('Tech Sessions')


//- .conteudo

.slide.s-default.s-var-3
  .pure-g.pad
    .pure-u-1
      h1 Tech Sessions
      ul.sub-menu
        li.nav-atual #[a Oral sessions]
        li #[a(href="instructions.html") Instructions for authors]
  .pure-g.pad.c-timetable
    .pure-u-1
      //- h3 Oral Sessions Schedule
      a.trab-codigo(name="schedule")
      .timetable
        each day, i_data in oral_sessions
          .timetable-day
            h4= i_data
            each sessao, i_sessao in day
              a.timetable-session(href="##{i_sessao}",name="schedule_#{i_sessao}")
                p.tim-i-session= i_sessao
                p.tim-i-nome= sessao.nome
                p.tim-i-sala #{sessao.sala} &nbsp;·&nbsp; #{sessao.horario}
  .pure-g.pad
    .pure-u-1

      //- monta a lista de anterior / próximo
      -
        var prev = "";
        var trab_array = {};

        Object.keys(oral_sessions_timetable).forEach(function(element) {
          var aux = {"prev":"", "next":""};
          if (prev != "") { // não é a primeira vez
            trab_array[prev].next = element;
            aux.prev = prev;
          }
          trab_array[element] = aux;
          prev = element;
        });

      //- each i in trab_array
        //- p= JSON.stringify(i)

      .c-trabalhos.c-oral-sessions
        - var i = 1;
        each sessoes, i_data in oral_sessions
          .trab-dia
            p.trab-data= i_data
            each sessao, i_sessao in sessoes
              .sessao
                .header-sessao
                  p.trab-cod-sessao.forte= i_sessao
                  h3.trab-topico-sessao #[a.schedule-back(href="#schedule_#{i_sessao}",name="#{i_sessao}") ↖] #{sessao.nome}
                  p.trab-chair.os-chair= sessao.chair
                  p.trab-horario-sessao #{sessao.horario} / #{sessao.sala}
                each cod_trabalho in sessao.trabalhos
                  - var trabalho = trabalhos[cod_trabalho]
                  a.trab-codigo(name="#{cod_trabalho}")
                  .trabalho
                    +oral_session(
                      i, 
                      i_sessao,
                      cod_trabalho, 
                      trabalho.titulo, 
                      trabalho.resumo, 
                      trabalho.author_list, 
                      oral_sessions_timetable[cod_trabalho],
                      trab_array[cod_trabalho].prev,
                      trab_array[cod_trabalho].next,
                      sessao.sala,
                      sessao.nome
                    )
                    - i++;



+rodape('Tech Sessions')