include /_mixins

+menu('Tech Sessions')


//- .conteudo

.slide.s-default.s-var-3.pad
  .pure-g
    .pure-u-1
      h1 Tech Sessions
      ul.sub-menu
        li #[a(href="index.html") Instructions for authors]
        li.nav-atual #[a Oral sessions]

      .c-trabalhos
        each sessoes, i_data in oral_sessions
          .trab-dia
            p.trab-data= i_data
            each sessao, i_sessao in sessoes
              .sessao
                - var i = 1;
                .header-sessao
                  p.trab-cod-sessao= i_sessao
                  h3.trab-topico-sessao= sessao.nome
                  p.trab-horario-sessao #{sessao.horario} / #{sessao.sala}
                each cod_trabalho in sessao.trabalhos
                  - var trabalho = trabalhos[cod_trabalho]
                  a.trab-codigo(name="#{cod_trabalho}")
                  .trabalho
                    +oral_session(i, trabalho.titulo, trabalho.resumo, trabalho.author_list)
                    - i++;



+rodape('Tech Sessions')