doctype html
html
	head

		|	<!-- Global site tag (gtag.js) - Google Analytics -->
		|	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36681942-16"></script>
		|	<script>
		|		window.dataLayer = window.dataLayer || [];
		|		function gtag(){dataLayer.push(arguments);}
		|		gtag('js', new Date());
		|		gtag('config', 'UA-36681942-16');
		|	</script>


		-
			var lvl = '';
				if (current.path.length > 1) {
				lvl = '../'
			}

		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet",href="#{lvl}css/reset.css")
		
		link(rel="stylesheet",href="#{lvl}css/pure/base-min.css")
		link(rel="stylesheet",href="#{lvl}css/pure/grids-min.css")
		link(rel="stylesheet",href="#{lvl}css/pure/grids-responsive-min.css")
		
		link(rel="stylesheet",href="#{lvl}css/main.css")
		link(rel="stylesheet",href="#{lvl}css/new_conf.css")

		//- if current.path[0] == "conference" && current.path[1] == "index"
		//- 	link(rel="stylesheet",href="/css/new_conf.css")
		
		script(src="#{lvl}js/jquery-3.1.1.min.js")
		script(src="#{lvl}js/basicScroll.min.js")

		link(rel="apple-touch-icon", sizes="180x180", href="#{lvl}apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="#{lvl}favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="#{lvl}favicon-16x16.png")
		link(rel="manifest", href="#{lvl}fav/manifest.json")
		link(rel="mask-icon", href="#{lvl}safari-pinned-tab.svg", color="#000000")
		meta(name="theme-color", content="#ffffff")
		script(src="https://use.fontawesome.com/ac4ebc58e7.js")
		
		script.
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=2"></' + 'script>')


		//- script(src="#{lvl}js/jquery.sticky-kit.js")

		title sbfoton / Sociedade Brasileira de Ótica e Fotônica

	-
		var classes = "";
		if (current.path.length == 1) {
			classes = "home";
			if (current.path[0] == "sbfoton") {
				classes += " sbfoton";
			}
		} else {
			classes = "not-home";
			if (current.path[0] == "conference" && current.path[1] == "index") {
				classes += " new_conf";
			}
		}
	
	body(class="#{classes}")
		//- p #{JSON.stringify(current)}
		!= yield