mixin menu(pagina_atual)
  input#toggle(type="checkbox")
  label#hamburger(for="toggle")
  #menu-geral(class="#{pagina_atual == 'home' ? 'menu-na-home' : ''}")
    -
      var lvl = '';
      if (current.path.length > 1) {
        lvl = '../'
      }
    #logo-menu-geral
      a(href="/") #[img(src="#{lvl}img/sbfoton_conf_2018.svg")]
    #c-menu
      label.toggle-container(for="toggle")
        - for (var i = 1; i <= 4; i++)
          span.toggle-enfeite(id='toggle-#{i}')
      .fundo-tela-quando-menu
      .fundo-menu
      //- (class="#{pagina_atual == 'home' ? 'menu-nao-fixado' : ''}")
      ul#menu
        each link_menu in menu
          -
            var classes_adicionais = ""
            if (typeof(link_menu.classes_adicionais) !== 'undefined')
              classes_adicionais += " " + link_menu.classes_adicionais
          - if (!link_menu.rodape_only)
            - if (pagina_atual == link_menu.titulo)
              li.nav-item.nav-atual #[a(class="#{classes_adicionais}") #{link_menu.titulo}]
            - else
              li.nav-item(class="#{classes_adicionais}") #[a(class="#{classes_adicionais}", href="#{lvl}#{link_menu.link}") #{link_menu.titulo}]
    a#link-sociedade(href="#{lvl}sbfoton.html") #[img(src="#{lvl}img/logo_sbfoton/mono-invertido.svg")]


mixin rodape(pagina_atual)
  -
    var lvl = '';
    if (current.path.length > 1) {
      lvl = '../'
    }
  .slide.s-rodape.invertido
    .pure-g.pad
      .separador-2
      .pure-u-1.pure-u-md-3-8.pure-u-xl-1-4
        #link-logo-rodape #[a(href="#{lvl}sbfoton.html") #[img#logo-rodape(src="#{lvl}img/logo_sbfoton/mono-invertido.svg") ]]
        p.fs-2 The #[a(href="#{lvl}sbfoton.html") Brazilian Photonics Society] has begun its activities on May 24th, 2017 with the main objective to work for increasing the importance and awareness of optics and photonics in Brazil and South America.
        p.fs-2 To contact SBFoton and take active part in this movement, send an email to #[a(href="mailto:conference@sbfoton.org.br") conference@sbfoton.org.br].
      .pure-u-1.pure-u-md-1-4.pure-u-xl-1-2
        .separador-2
      .pure-u-1.pure-u-md-3-8.pure-u-xl-1-4
        h3 Support
        .support
          a(href="http://portal.utfpr.edu.br/", target="_blank") UTFPR
          a(href="https://www.cpqd.com.br/", target="_blank") CPqD
          a(href="https://www.usp.br/", target="_blank") USP
          a(href="http://www.unicamp.br/unicamp/", target="_blank") Unicamp
          a(href="https://www2.ufscar.br/", target="_blank") UFSCar
          a(href="http://www.ita.br/", target="_blank") ITA
          a(href="http://www.ieav.cta.br/", target="_blank") IEAv (CTA)
          a(href="http://universidadebrasil.edu.br/inicio/", target="_blank") Universidade Brasil
          a(href="https://unip.br", target="_blank") UNIP
    .pure-g.pad
      .pure-u-1
        p.credits This website and the event’s visual identity were created by #[a(href="http://www.preface.com.br/",target="_blank") Preface&nbsp;design].

mixin bio(bio, classe, limite, max = true)
  -
    var bio_com_brs = bio.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;").replace("\n","<br><br>");
    var short_bio = "";
  -
    if (bio_com_brs.length > limite) {
      short_bio = bio_com_brs.substr(0, limite);
      // corta no último espaço
      short_bio = short_bio.substr(0, Math.min(short_bio.length, short_bio.lastIndexOf(" ")));
    }
  - if (short_bio == "" || !max) {
    p(class=classe)= bio_com_brs
  - } else {
    p(class=classe).
      #{short_bio + "..."}
      #[a(href="#", onclick="$(this).parent().html(\"#{bio_com_brs}\"); return false;") #[i.fa.fa-plus-circle] ]
  - }


mixin membro(img, nome, instituicoes, bio, max = true)
  -
    var lvl = '';
    if (current.path.length > 1) {
      lvl = '../'
    }
  .membro
    - if (img)
      img(src="#{lvl}#{img}")
    p.nome #{nome}
      each instituicao in instituicoes
        - if (instituicao.url)
          p.instituicao #[a(href="#{instituicao.url}", target="_blank") #{instituicao.nome}]
        - else if (instituicao.nome)
          p.instituicao #{instituicao.nome}
    unless bio == ""
      +bio(bio, "bio", 128*4, max)


mixin autor(img, nome, instituicao, bio, max = true)
  .trab-autor
    unless img == ""
      img.trab-a-img(src="#{img}")
    p.trab-a-nome= nome
    p.trab-a-inst #[a(href="#{instituicao.url}", target="_blank") #{instituicao.nome}]
    unless bio == ""
      +bio(bio, "trab-a-bio", 128, max)

mixin trabalho(i, titulo, horario, sala, resumo, temas)
  .trab-trab
    if i > 0
      p.trab-ind= i
    else
      p.trab-ind= " "
    p.trab-titulo= titulo
    p.trab-horario #{horario}&nbsp; / &nbsp;#{sala}
    unless resumo == ""
      -
        var classes_adicionais = ""
        if (resumo.length < 200) {
          classes_adicionais += " resumo-p"
        } else if (resumo.length < 400) {
          classes_adicionais += " resumo-m"
        }
      p.trab-resumo(class="#{classes_adicionais}")!= resumo
    unless temas.length == 0
      ul.trab-temas
        if temas
          each tema in temas
            li= tema
