include /_mixins
include /_schedule

+menu('home')

-
  var schedule_json = [{
    "day": "Monday, October 8th",
    "schedule": [{
      "tipo": "Other",
      "codigo": "",
      "sala": "Auditorium",
      "nome": "Opening Ceremony",
      "horario": "08:45-09:05"
    },{
      "tipo": "Plenary",
      "codigo": "PL-G-MON",
      "link": "PL-MON-01",
      "sala": "Auditorium",
      "nome": "Plenary session 1",
      "horario": "09:05-12:30"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-C-MON-01",
      "sala": "Auditorium",
      "nome": "Optical Communication 1",
      "horario": "14:00-15:30"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-I-MON-04",
      "sala": "Auditorium",
      "nome": "Integrated Photonics 1",
      "horario": "16:00-17:30"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-B-MON-02",
      "sala": "Amphitheater 1",
      "nome": "Biophotonics 1",
      "horario": "14:00-15:30"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-O-MON-05",
      "sala": "Amphitheater 1",
      "nome": "Optics and Instrumentation 1",
      "horario": "16:00-17:40"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-L-MON-03",
      "sala": "Amphitheater 2",
      "nome": "Lasers 1",
      "horario": "14:00-15:30"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-S-MON-06",
      "sala": "Amphitheater 2",
      "nome": "Optical Sensors, Image and Illumination 1",
      "horario": "16:00-17:30"
    }, {
      "tipo": "Other",
      "codigo": "",
      "sala": "Auditorium",
      "nome": "Musical Performance (Duo Izabel Padovani & Ronaldo Saggiorato)",
      "horario": "18:30-19:30"
    }, {
      "tipo": "Other",
      "codigo": "",
      "sala": "Auditorium",
      "nome": "Welcome cocktail",
      "horario": "19:30-20:30"
    }]
  }, {
    "day": "Tuesday, October 9th",
    "schedule": [{
      "tipo": "Plenary",
      "codigo": "PL-G-TUE",
      "link": "PL-TUE-01",
      "sala": "Auditorium",
      "nome": "Plenary session 2",
      "horario": "09:00-12:30"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-C-TUE-01",
      "sala": "Auditorium",
      "nome": "Optical Communication 2",
      "horario": "14:30-16:00"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-C-TUE-04",
      "sala": "Auditorium",
      "nome": "Optical Network 1",
      "horario": "16:30-18:00"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-I-TUE-02",
      "sala": "Amphitheater 1",
      "nome": "Integrated Photonics 2",
      "horario": "14:30-16:10"
    }, {
      "tipo": "Short Course",
      "codigo": "SC-C-TUE-01",
      "sala": "Amphitheater 1",
      "nome": "Diode Pumped Solid State Lasers and other ultra-high efficiency Lasers / Niklaus Wetter (IPEN)",
      "horario": "16:30-18:00"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-L-TUE-03",
      "sala": "Amphitheater 2",
      "nome": "Lasers 2",
      "horario": "14:30-16:00"
    }, {
      "tipo": "Short Course",
      "codigo": "SC-L-TUE-02",
      "sala": "Amphitheater 2",
      "nome": "Integrated Optics Design using COMSOL / Hugo Hernandez FIgueroa and Yuri Hayashi Isayama (Unicamp)",
      "horario": "16:30-18:00"
    }, {
      "tipo": "Other",
      "codigo": "",
      "sala": "Auditorium",
      "nome": "SBFoton General Meeting",
      "horario": "18:00-19:30"
    }, {
      "tipo": "Other",
      "codigo": "",
      "sala": "Restaurante “O Matuto” (Taquaral)",
      "nome": "Conference Dinner",
      "horario": "20:30-22:30"
    }]
  }, {
    "day": "Wednesday, October 10th",
    "schedule": [{
      "tipo": "Plenary",
      "codigo": "PL-G-WED",
      "link": "PL-WED-01",
      "sala": "Auditorium",
      "nome": "Plenary session 3",
      "horario": "09:00-12:30"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-C-WED-01",
      "sala": "Auditorium",
      "nome": "Optical Communication 3",
      "horario": "14:30-16:00"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-I-WED-04",
      "sala": "Auditorium",
      "nome": "Integrated Photonics 4",
      "horario": "16:30-18:10"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-I-WED-02",
      "sala": "Amphitheater 1",
      "nome": "Integrated Photonics 3",
      "horario": "14:30-16:10"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-C-WED-05",
      "sala": "Amphitheater 1",
      "nome": "Optical Network 2",
      "horario": "16:30-18:10"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-P-WED-03",
      "sala": "Amphitheater 2",
      "nome": "Photonics",
      "horario": "14:30-16:10"
    }, {
      "tipo": "Oral Session",
      "codigo": "OS-S-WED-06",
      "sala": "Amphitheater 2",
      "nome": "Optical Sensors, Image and Illumination 2",
      "horario": "16:30-18:10"
    }, {
      "tipo": "Other",
      "codigo": "",
      "sala": "Auditorium",
      "nome": "Student Competition Award and Closing Ceremony",
      "horario": "18:15-18:30"
    }]
  }];

//- .conteudo


.slide.s-hero.pad
  .pure-g
    .pure-u-1.pure-u-sm-1.pure-u-lg-2-3.pure-u-xl-1-2
      img#logo-home(src="img/sbfoton_conf_2018.svg")
      .bottom-p
        h1 SBFOTON #[br] Conference #[br] 2018
        h2 Registration #[br] is open!
        p Accepted papers will be published in the conference proceedings but to be published by IEEE Xplore, at least one of the authors of each paper must have a FULL registration and the paper must be presented during the conference by one of the authors. One full registration covers for two papers that are to be presented.
        .separador-visivel-2
        p You can now find out about the #[a(href="#schedule") complete schedule] for the event or who are its #[a(href="#featured_guests") featured guests].
    .pure-u-1.pure-u-sm-1.pure-u-lg-1-3.pure-u-xl-1-2
      #reg-plus
        #reg
          a#reg-but(href="registration.html") Registration
          p from August 3rd to October 3rd
        #plus
          .notice
            h3 Venue has changed!
            p The event will be hosted #[br] at CPqD, Campinas, #[br] from October 8th to 10th.
            p Read about it #[a(href="venue/") here].
          //- p.seta ↓
          //- ⭝

.slide.sc-schedule
  .s-schedule
    .pure-g
      .pure-u-1.pure-u-sm-1.pure-u-lg-2-3.pure-u-xl-1-2.pad
        a.trab-codigo(name="schedule")
        h2 Event’s Schedule
      +schedule_json
      .pure-u-1
        each dia in schedule_json
          .schedule
            .pad
              h3= dia.day
            .schedule-block
              each schedule in dia.schedule
                -
                  var url = "", classe_adicional = "";
                  if (schedule.tipo == "Plenary") {
                    url = "plenaries.html#" + schedule.link;
                    classe_adicional = "sched-plen";
                  } else if (schedule.tipo == "Oral Session") {
                    url = "tech_sessions/#" + schedule.codigo;
                    classe_adicional = "sched-tech-session";
                  } else if (schedule.tipo == "Short Course") {
                    url = "short_courses.html#" + schedule.codigo;
                    classe_adicional = "sched-short-course";
                  } else if (schedule.tipo == "Other") {
                    url = "";
                    classe_adicional = "sched-other-act";
                  }
                - if (schedule.tipo == "Other") {
                  a.schedule-item.pad(class="#{classe_adicional}")
                    p.sched-nom.sched-other= schedule.nome
                    p.sched-all!= schedule.horario + ' &nbsp;·&nbsp; ' +  schedule.sala
                - } else {
                  a.schedule-item.pad(href=url, class="#{classe_adicional}")
                    p.sched-cod= schedule.codigo
                    - if (schedule.tipo == "Plenary") {
                      p.sched-nom.sched-plen= schedule.nome
                    - } else {
                      p.sched-tip= schedule.tipo
                      p.sched-nom= schedule.nome
                    - }
                    p.sched-all!= schedule.horario + ' &nbsp;·&nbsp; ' +  schedule.sala
                - }
        
    

.slide.s-hero.pad
  .slide-destaques
    .separador-1
    a.trab-codigo(name="featured_guests")
    h1 Featured guests
    .separador-1
    .grade#featured-guests
      a.g-item.g-img(href="plenaries.html#PL-TUE-01")
        img(src="img/speakers/anderson_gomes.jpg")
        .dados-speaker
          p.nome Anderson Stevens Leônidas Gomes
          p.filiacao DF UFPE / Brazil
      a.g-item.g-img(href="plenaries.html#PL-WED-01")
        img(src="img/speakers/antonio_teixeira.jpg")
        .dados-speaker
          p.nome António Luis Jesus Teixeira
          p.filiacao Universidade de Aveiro / Portugal
      a.g-item.g-img(href="plenaries.html#PL-MON-01")
        img(src="img/speakers/carlos_lee.jpg")
        .dados-speaker
          p.nome Carlos Lee
          p.filiacao EPIC members drive the photonics revolution / EPIC France
      a.g-item.g-img(href="plenaries.html#PL-MON-02")
        img(src="img/speakers/chennupati_jagadish.jpg")
        .dados-speaker
          p.nome Chennupati Jagadish
          p.filiacao Australian National University / Australia
      a.g-item.g-img(href="plenaries.html#PL-WED-02")
        img(src="img/speakers/cristina_kurachi.jpg")
        .dados-speaker
          p.nome Cristina Kurachi
          p.filiacao IFSC USP / Brazil
      a.g-item.g-img(href="plenaries.html#PL-MON-04")
        img(src="img/speakers/jarbas_neto.jpg")
        .dados-speaker
          p.nome Jarbas Caiado de Castro Neto
          p.filiacao IFSC USP / Brazil
      a.g-item.g-img(href="plenaries.html#PL-TUE-02")
        img(src="img/speakers/raouf_el_mallawany.jpg")
        .dados-speaker
          p.nome Raouf El-Mallawany
          p.filiacao PD Menoufia University / Egypt
      a.g-item.g-img(href="plenaries.html#PL-TUE-04")
        img(src="img/speakers/pierre_francois_brevet.jpg")
        .dados-speaker
          p.nome Pierre François-Brevet
          p.filiacao University of Lyon / France
      a.g-item.g-img(href="plenaries.html#PL-WED-03")
        img(src="img/speakers/jacobus_swart.jpg")
        .dados-speaker
          p.nome Jacobus Willibrordus Swart
          p.filiacao Unicamp / IMEC / Brazil
      a.g-item.g-img(href="plenaries.html#PL-WED-05")
        img(src="img/speakers/manuel_steidle.jpg")
        .dados-speaker
          p.nome Manuel Steidle
          p.filiacao CERTI / Brazil
      a.g-item.g-img(href="plenaries.html#PL-MON-03")
        img(src="img/speakers/harry_junior.jpg")
        .dados-speaker
          p.nome Harry Westfahl Junior
          p.filiacao LNLS / Brazil
      a.g-item.g-img(href="plenaries.html#PL-TUE-05")
        img(src="img/speakers/julio_de_oliveira.jpg")
        .dados-speaker
          p.nome Júlio Cesar Rodrigues Fernandes de Oliveira 
          p.filiacao Idea! / Brazil
      a.g-item.g-img(href="plenaries.html#PL-WED-04")
        img(src="img/speakers/scott_powell.jpg")
        .dados-speaker
          p.nome Scott R. Powell
          p.filiacao Jariet Technologies Inc / US
      a.g-item.g-img(href="plenaries.html#PL-TUE-03")
        img(src="img/speakers/rodrigo_vicentini.jpg")
        .dados-speaker
          p.nome Rodrigo Vicentini / Keysight


    

  script.
    //https://stackoverflow.com/questions/7070054/javascript-shuffle-html-list-element-order
    var g = document.querySelector('#featured-guests');
    for (var i = g.children.length; i >= 0; i--) {
      g.appendChild(g.children[Math.random()*i | 0]);
    }



+rodape('home')