include /_mixins

+menu('Plenaries')


//- .conteudo

.slide.s-default.s-var-4.pad
  .pure-g
    .pure-u-1
      h1 Plenaries

      .c-plenaries
        - var i = 1;
        each data, i_data in plenaries 
          .plen-dia
            p.plen-data= i_data
            each plenaria in data
              .plenaria
                - var trabalho = trabalhos[plenaria.trabalho]
                .plen-trab
                  p.plen-ind= i
                  p.plen-titulo= trabalho.titulo
                  p.plen-horario #{plenaria.horario}&nbsp; / &nbsp;#{salas[plenaria.sala].nome}
                  //- p.plen-sala= salas[plenaria.sala].nome
                  p.plen-resumo= trabalho.resumo
                  ul.plen-temas
                    each tema in trabalho.temas
                      li= tema
                .plen-autores
                  h3 Presented by
                  each nome_autor in trabalho.autores
                    .plen-autor
                      - var autor = autores[nome_autor]
                      unless autor.imagem == ""
                        img.plen-a-img(src="#{autor.imagem}")
                      p.plen-a-nome= autor.nome
                      p.plen-a-inst #[a(href="#{autor.instituicao.url}", target="_blank") #{autor.instituicao.nome}]
                      p.plen-a-bio= autor.biografia
                  - i++;


+rodape('Plenaries')