include /_mixins

+menu('Workshops')

#slide-container
  //- .conteudo

  .slide.s-default.s-var-4.pad
    .pure-g
      .pure-u-1
        h1 Workshops
    .pure-g
      .pure-u-1
        .c-trabalhos.c-workshops
          each sessoes, i_data in workshops_timetable
            .trab-dia
              p.trab-data= i_data
              each sessao, i_sessao in sessoes
                .sessao
                  .header-sessao
                    p.trab-cod-sessao.forte= i_sessao
                    a.trab-codigo(name="#{i_sessao}")
                    h3.trab-topico-sessao #{sessao.session_name}
                    unless sessao.chair == ""
                      p.trab-chair.os-chair= sessao.chair
                    p.trab-horario-sessao #{sessao.time} / #{sessao.room}
                  each cod_trabalho in sessao.workshops
                    - var trabalho = workshops[cod_trabalho]
                    a.trab-codigo(name="#{cod_trabalho}")
                    .trab-trab
                      p.big-work-title= workshops[cod_trabalho].name
                      unless workshops[cod_trabalho].authors == ""
                        p.trab-lista-autores= workshops[cod_trabalho].authors
                      else
                        p.trab-lista-autores —

  +rodape('Workshops')